<p>servers works!</p>
<app-server></app-server>
<app-server></app-server>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<hr>

<p>Allow adding new server? {{ allowNewServer }}</p> <!--string interpolation-->
<p [innerText]="allowNewServer">Allow adding new server?</p> <!--poperty binding-->

<!--Property Binding-->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    >Add Server</button>

    <!--Event Binding on line 15 - click-->
<p>{{ serverCreationStatus }}</p>


<hr>

<!--Passing and using data with event binding-->
<label>Server Name: Event Binding Example</label>
<input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
>
<p>{{ serverName }}</p>


<!--Two way data binding 
## Two way data binding : event + property binding
-->
<label>Server Name: Two way Binding Example</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>

<hr><hr>

<!--Combining all forms of data-binding-->
<label>Combining all forms of data-binding</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>

<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    >Add Server</button>

    <!--Event Binding on line 15 - click-->
<p>{{ serverCreationStatus }}</p>

<!------- ngif directive to output data conditionally ---->
<h2>ngif directive to output data conditionally</h2>
<p *ngIf="serverCreated; else noServer">Server was created and Sevrer name is: {{ serverName }}</p>
<ng-template #noServer>
    <p>No Server was created.</p>
</ng-template>


